* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mali, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #06d6a0;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #ef476f;
}

a:hover {
  border-bottom-width: 5px;
}

form input,
form select {
  text-align: center;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  border: solid #ef476f;
  line-height: 1.5;
  font-size: 1em;
  border-width: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  font-family: Mali, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

form label {
  text-align: center;
  display: block;
  font-size: 2em;
  font-weight: 600;
}

.flex {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin: 1em;
}

@media (max-width: 599px) {
  html,
  body {
    font-size: 10px;
  }
}
@media (min-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}
@media (min-width: 900px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }
}
@media (min-width: 1800px) {
  html,
  body {
    font-size: 20px;
  }
}
